.container {
  max-width: 600px;
  margin-bottom: 33px;
  grid-column: 1 / 2;

  @media (max-width: 1023px) {
    max-width: 100%;
    margin-bottom: 35px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 31px;
  font-family: var(--font-medium);

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 18px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 14px;
  }
}

.button {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-medium);
  color: var(--color-dark);
  text-align: left;
  background-color: var(--color-transparent);
  border: 1px solid var(--color-dark);
  border-radius: 4px;
  padding: 20px 23px 16px;
  width: 100%;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    right: 22px;
    top: 24px;
    width: 18px;
    height: 11px;

    background-image: url('../../images/switch.svg');
    background-repeat: no-repeat;
    background-size: 18px 11px;
    background-position: 90% center;
  }

  &_open {
    border-radius: 4px 4px 0 0;

    &::before {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 767px) {
    padding: 20px 14px 16px;

    &::before {
      right: 13px;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-regular);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-top: none;
  border-bottom: 1px solid #c1c2ca;

  &:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid var(--color-dark);
  }
}

.label {
  cursor: pointer;
  display: block;
  padding: 20px 23px 16px;

  &:focus {
    border: none;
    outline: none;
    background-color: var(--color-background);
    border-radius: 0 0 4px 4px;
  }

  &:hover {
    background-color: var(--color-background);
    border-radius: 0 0 4px 4px;
  }
}
