:root {
  --font-regular: "Roboto Regular", "Arial", sans-serif;
  --font-medium: "Roboto Medium", "Arial", sans-serif;
  --font-bold: "Roboto Bold", "Arial", sans-serif;

  --color-background: #F6F7FF;
  --color-active: #2C36F2;
  --color-dark: #1F1E25;
  --color-dark-accent-fade: rgba(30, 31, 37, 0.2);
  --color-error: crimson;
}