.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  padding-top: 53px;
  padding-left: 67px;
  padding-right: 67px;
  padding-bottom: 55px;
  background-color: var(--color-background);

  @media (max-width: 1023px) {
    max-width: 678px;
  }

  @media (max-width: 767px) {
    max-width: 290px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
  }
}

.title {
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: var(--font-medium);
  margin-bottom: 12px;
  text-align: center;

  @media (max-width: 767px) {
    max-width: 290px;
    font-size: 18px;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text {
  margin: 0;
  color: var(--color-text);
  line-height: 22px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;

  @media (max-width: 1023px) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.button {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url('../../images/menu-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 20px 20px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  @media (max-width: 1023px) {
    top: 23px;
    right: 24px;
    background-size: 21px 21px;
  }

  @media (max-width: 767px) {
    top: 6px;
    right: 6px;
    background-size: 16px 16px;
  }
}

.open {
  overflow: hidden;
}