.wrapper {
  background-color: var(--color-background);
  min-height: 91px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
  font-family: var(--font-regular);
  line-height: 19px;
  padding-left: 45px;
  padding-right: 45px;
}

.logo {
  padding-bottom: 9px;
  min-width: 149px;
}

.nav {
  padding-left: 109px;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &_active {
    color: var(--color-active);
  }
}

.user {
  min-width: 203px;
}

.login {
  display: flex;
  align-items: center;

  &:hover {
    color: var(--color-active);
  }

  &:focus {
    color: var(--color-active);
  }
}

.svg {
  margin-right: 10px;
}
