.container {
  max-width: 600px;
  grid-column: 1 / 2;
  position: relative;

  @media (max-width: 1023px) {
    max-width: 100%;
    margin-bottom: 17px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.title {
  margin: 0;
  margin-bottom: 17px;
  font-size: 22px;
  line-height: 31px;
  font-family: var(--font-medium);

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 13px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 9px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0;

  &_error {
    &::before {
      content: 'Некорректное значение';
      position: absolute;
      z-index: 1;
      color: var(--color-error);
      font-family: var(--font-medium);
      left: 50%;
      top: 53%;
      transform: translate(-50%,-57%);
    }
  }
}

.input {
  width: 100%;
  margin-top: 7px;
  font-family: var(--font-medium);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 17px 23px 16px;
  border: 1px solid var(--color-dark);
  border-radius: 4px;

  &_error {
    border: 1px solid var(--color-error);
    outline-color: var(--color-error);
    color: transparent;
  }

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 22px;
    padding: 19px 23px 17px;
  }
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey);
  margin-top: 6px;
  margin-bottom: 18px;
  display: inline-block;

  @media (max-width: 1023px) {
    margin-bottom: 13px;
  }

  @media (max-width: 767px) {
    margin-bottom: 9px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.range {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  margin: 21px 0 6px;
  height: 1px;
  background-color: var(--color-border);
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    height: 1px;
    background-color: var(--color-border);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    border: none;
    width: 14px;
    height: 14px;
    margin-top: -6px;
    background-color: var(--color-active);
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &::-moz-range-track {
    height: 1px;
    background-color: var(--color-border);
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    margin-top: -6px;
    background-color: var(--color-active);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__percent {
    @media (max-width: 1023px) {
      margin-bottom: 0;
    }
  }
}

.button {
  content: '';
  position: absolute;
  z-index: 0;
  padding: 0;
  top: 79px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  background-color: var(--color-transparent);
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1023px) {
    top: 68px;
  }

  @media (max-width: 767px) {
    top: 62px;
  }

  &__minus {
    left: 2px;
    background-image: url('../../images/minus.svg');
  }

  &__plus {
    right: 2px;
    background-image: url('../../images/plus.svg');

    @media (max-width: 767px) {
      right: -7px;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  line-height: 0;
  margin-bottom: 20px;
}

.checkbox_input {
  margin: 0;
  width: 16px;
  height: 16px;
  display: block;
}

.checkbox_text {
  padding-left: 8px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}
