.wrapper {
  background-color: var(--color-background);
  height: 224px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1366px;
  height: 100%;
  padding-top: 48px;
  padding-left: 98px;
  padding-right: 98px;
  margin: 0 auto;
  font-family: var(--font-regular);
  font-size: 12px;
  line-height: 17px;
}

.contacts_text {
  margin: 0;
  padding-top: 11px;
}

.contacts {
  width: 253px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 144px;
  font-size: 16px;
  font-family: var(--font-medium);
}

.item {
  padding: 10px 0 4px 0;

  &:hover {
    opacity: 0.8;
  }
}

.mobile {
  position: relative;
  width: 197px;
  padding-left: 30px;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 1px;
    width: 10px;
    height: 16px;
    background-image: url('../../images/mobile.svg');
  }
}

.title {
  font-size: 16px;
  font-family: var(--font-medium);
  margin: 0;
  padding-top: 12px;
  padding-bottom: 5px;
}

.text {
  margin: 0;
}

.phone {
  position: relative;
  width: 155px;
  padding-left: 33px;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../../images/phone.svg');
  }
}

.social {
  width: 102px;
  display: flex;
  align-items: center;
}

.social_icon {
  padding-top: 12px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--color-active);
  }

  &:focus {
    color: var(--color-active);
  }
}
