.container {
  width: 1170px;
  height: 477px;
  margin: 0 auto;
  margin-bottom: 110px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 39px;
  background-color: var(--color-background);
}

.title {
  font-family: var(--font-medium);
  font-size: 28px;
  line-height: 39px;
}

.button {
  width: 198px;
  height: 51px;
  margin-top: 16px;
  font-family: var(--font-medium);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-background);
  background-color: var(--color-active);
  border: 1px solid var(--color-active);
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
  }
}