.promo {
  display: flex;
  justify-content: center;
  height: 400px;

  @media (max-width: 1023px) {
    height: 300px;
  }

  @media (max-width: 767px) {
    height: 226px;
  }

  &_first {
    background-image: url('../../images/slider1-desktop.jpg'),
                      linear-gradient(180deg, var(--color-active) 32.89%, #2027B3 99.79%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1366px) {
      background-size: cover;
    }

    @media (max-width: 1023px) {
      background-image: url('../../images/slider1-tablet.jpg'),
                        linear-gradient(180deg, var(--color-active) 32.89%, #2027B3 99.79%);
      background-size: contain;
      background-position: right;
    }

    @media (max-width: 767px) {
      background-image: url('../../images/slider1-mobile.jpg'),
                        linear-gradient(180deg, var(--color-active) 32.89%, #2027B3 99.79%);
    }
  }

  &_second {
    background-image: url('../../images/slider2-desktop.jpg'),
                      linear-gradient(90deg, rgba(222,226,237,1) 0%, rgba(222,226,237,1) 30%, rgba(222,226,237,0) 40%, rgba(222,226,237,0) 100%),
                      linear-gradient(to bottom, #eff6ff, #f1f7ff, #f2f9ff, #f4faff, #f6fbff);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1366px) {
      background-size: cover;
    }

    @media (max-width: 1023px) {
      background-image: url('../../images/slider2-tablet.jpg'),
                        linear-gradient(90deg, rgba(222,226,237,1) 0%, rgba(222,226,237,1) 30%, rgba(222,226,237,0) 40%, rgba(222,226,237,0) 100%),
                        linear-gradient(to bottom, #eff6ff, #f1f7ff, #f2f9ff, #f4faff, #f6fbff);
      background-size: contain;
      background-position: right;
    }

    @media (max-width: 767px) {
      background-image: url('../../images/slider2-mobile.jpg'),
                        linear-gradient(90deg, rgba(222,226,237,1) 0%, rgba(222,226,237,1) 30%, rgba(222,226,237,0) 40%, rgba(222,226,237,0) 100%),
                        linear-gradient(to bottom, #eff6ff, #f1f7ff, #f2f9ff, #f4faff, #f6fbff);
    }
  }

  &_third {
    background-image: url('../../images/slider3-desktop.jpg');
    background-color: #e7f1fd;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 1366px) {
      background-size: cover;
    }

    @media (max-width: 1023px) {
      background-image: url('../../images/slider3-tablet.jpg');
      background-size: contain;
      background-position: right;
    }

    @media (max-width: 767px) {
      background-image: url('../../images/slider3-mobile.jpg');
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 830px;

  @media (max-width: 1023px) {
    max-width: 596px;
  }

  @media (max-width: 767px) {
    max-width: 290px;
  }
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 9px;
  font-family: var(--font-bold);
  font-size: 54px;
  line-height: 63px;
  color: var(--color-dark);
  padding-top: 102px;

  &_first {
    color: var(--color-background);
  }

  @media (max-width: 1023px) {
    font-size: 46px;
    line-height: 54px;
    padding-top: 65px;
    margin-bottom: 7px;
  }

  @media (max-width: 767px) {
    font-size: 38px;
    line-height: 45px;
    padding-top: 39px;
    margin-bottom: 6px;
  }
}

.text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-dark);

  &_first {
    color: var(--color-background);
  }

  @media (max-width: 1023px) {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 29px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
    padding-right: 50px;
  }
}

.button {
  display: inline-block;
  font-family: var(--font-medium);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 36px;
  padding-left: 36px;
  background-color: var(--color-background);
  border-radius: 4px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }

  &_add {
    background-color: var(--color-active);
    color: var(--color-background);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 49px;
    padding-left: 48px;

    &:hover {
      opacity: 0.7;
    }
  
    &:active {
      opacity: 0.7;
    }
  
    &:focus {
      opacity: 0.7;
    }
  }

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 19px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 31px;
    padding-left: 31px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-right: 31px;
    padding-left: 31px;
  }
}

:global(.swiper-pagination) {
  padding-bottom: 23px;

  @media screen and (max-width: 1023px) {
    padding-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: -7px;
  }
}

:global(.swiper-pagination-bullet) {
  opacity: 1;
  background-color: #2028b6;

  @media (max-width: 767px) {
    width: 6px;
    height: 6px;
  }
}

:global(.swiper-pagination-bullet-active) {
  background-color: #f6f7ff;
  opacity: 1;
}
